# Task
You have to write a python script which can fetch all the tweets(as many as allowed by Twitter
API) done by midas@IIITD twitter handle and dump the responses into JSONlines file.
The other part of your script should be able to parse these JSONline files to display the
following for every tweet in a tabular format.

● The text of the tweet.

● Date and time of the tweet.

● The number of favorites/likes.

● The number of retweets.

● Number of Images present in Tweet. If no image returns None.

### Importing the required libraries

In [1]:
import json
import tweepy                 #python library for twitter
from tweepy import Cursor    
from tqdm import tqdm        #noting the progress of for loop
import jsonlines             #read/write the files
import pandas as pd           #to create the table

### Api keys and access tokens

In [2]:
ACCESS_TOKEN = 'xxx'
ACCESS_SECRET = 'xxx'
CONSUMER_KEY = 'xxx'
CONSUMER_SECRET = 'xxx'

### Authenticating with Twitter credentials

In [3]:
auth = tweepy.OAuthHandler(CONSUMER_KEY, CONSUMER_SECRET)
auth.set_access_token(ACCESS_TOKEN, ACCESS_SECRET)

### Api to connect to twitter with my credentials

In [4]:
api = tweepy.API(auth, wait_on_rate_limit=True, wait_on_rate_limit_notify=True, compression=True)

### Testing the syntax
    -cursor is used to iterate through timelines, user lists pages etc
```(items is set to 1 as we want only 1 tweet to see if it's working```

In [5]:
for status in tweepy.Cursor(api.home_timeline, tweet_mode="extended",entities = "extended").items(1):
    x = status._json
    print(x)

{'created_at': 'Tue Apr 09 06:08:58 +0000 2019', 'id': 1115496805561540608, 'id_str': '1115496805561540608', 'full_text': '#Estimator #ComputerVision https://t.co/lsxLY6uyMw', 'truncated': False, 'display_text_range': [0, 50], 'entities': {'hashtags': [{'text': 'Estimator', 'indices': [0, 10]}, {'text': 'ComputerVision', 'indices': [11, 26]}], 'symbols': [], 'user_mentions': [], 'urls': [{'url': 'https://t.co/lsxLY6uyMw', 'expanded_url': 'https://deepai.org/publication/defogging-kinect-simultaneous-estimation-of-object-region-and-depth-in-foggy-scenes', 'display_url': 'deepai.org/publication/de…', 'indices': [27, 50]}]}, 'source': '<a href="https://deepai.org/" rel="nofollow">ArXiv Daily</a>', 'in_reply_to_status_id': None, 'in_reply_to_status_id_str': None, 'in_reply_to_user_id': None, 'in_reply_to_user_id_str': None, 'in_reply_to_screen_name': None, 'user': {'id': 945496245530869760, 'id_str': '945496245530869760', 'name': 'arXiv Daily', 'screen_name': 'arXiv_Daily', 'location': '1.5 AU', 'description': "Daily feed of this week's top research articles published to https://t.co/ZBNrZVbzEn. #DataScience, #ML, & #ArtificialIntelligence. Curated by @Deep__AI", 'url': 'https://t.co/jofpTIjZJd', 'entities': {'url': {'urls': [{'url': 'https://t.co/jofpTIjZJd', 'expanded_url': 'https://deepai.org/arxiv', 'display_url': 'deepai.org/arxiv', 'indices': [0, 23]}]}, 'description': {'urls': [{'url': 'https://t.co/ZBNrZVbzEn', 'expanded_url': 'http://arXiv.org', 'display_url': 'arXiv.org', 'indices': [61, 84]}]}}, 'protected': False, 'followers_count': 15083, 'friends_count': 600, 'listed_count': 149, 'created_at': 'Tue Dec 26 03:27:26 +0000 2017', 'favourites_count': 198, 'utc_offset': None, 'time_zone': None, 'geo_enabled': False, 'verified': False, 'statuses_count': 4138, 'lang': 'en', 'contributors_enabled': False, 'is_translator': False, 'is_translation_enabled': False, 'profile_background_color': 'F5F8FA', 'profile_background_image_url': None, 'profile_background_image_url_https': None, 'profile_background_tile': False, 'profile_image_url': 'http://pbs.twimg.com/profile_images/945497303036526593/s9LSNZ9p_normal.jpg', 'profile_image_url_https': 'https://pbs.twimg.com/profile_images/945497303036526593/s9LSNZ9p_normal.jpg', 'profile_link_color': '1DA1F2', 'profile_sidebar_border_color': 'C0DEED', 'profile_sidebar_fill_color': 'DDEEF6', 'profile_text_color': '333333', 'profile_use_background_image': True, 'has_extended_profile': False, 'default_profile': True, 'default_profile_image': False, 'following': True, 'follow_request_sent': False, 'notifications': True, 'translator_type': 'none'}, 'geo': None, 'coordinates': None, 'place': None, 'contributors': None, 'is_quote_status': False, 'retweet_count': 1, 'favorite_count': 0, 'favorited': False, 'retweeted': False, 'possibly_sensitive': False, 'possibly_sensitive_appealable': False, 'lang': 'und'}

### Finding the location of required information

In [6]:
print(x.keys())
print("------")
print(x["user"].keys())

dict_keys(['created_at', 'id', 'id_str', 'full_text', 'truncated', 'display_text_range', 'entities', 'source', 'in_reply_to_status_id', 'in_reply_to_status_id_str', 'in_reply_to_user_id', 'in_reply_to_user_id_str', 'in_reply_to_screen_name', 'user', 'geo', 'coordinates', 'place', 'contributors', 'is_quote_status', 'retweet_count', 'favorite_count', 'favorited', 'retweeted', 'possibly_sensitive', 'possibly_sensitive_appealable', 'lang'])
------
dict_keys(['id', 'id_str', 'name', 'screen_name', 'location', 'description', 'url', 'entities', 'protected', 'followers_count', 'friends_count', 'listed_count', 'created_at', 'favourites_count', 'utc_offset', 'time_zone', 'geo_enabled', 'verified', 'statuses_count', 'lang', 'contributors_enabled', 'is_translator', 'is_translation_enabled', 'profile_background_color', 'profile_background_image_url', 'profile_background_image_url_https', 'profile_background_tile', 'profile_image_url', 'profile_image_url_https', 'profile_link_color', 'profile_sidebar_border_color', 'profile_sidebar_fill_color', 'profile_text_color', 'profile_use_background_image', 'has_extended_profile', 'default_profile', 'default_profile_image', 'following', 'follow_request_sent', 'notifications', 'translator_type'])

### Notes:  
    -tweet['full_text'] gives text of the tweet
    -tweet['retweet_count'] gives number of retweets
    -tweet['favorite_count'] gives number of favorites
    -tweet['created_at'] gives date and time
    -tweet['extended_entities']['media'] has the id's of media if present
    -tweet['extended_entities']['media']['type']='photo' will give us number of images

# Part 1: fetching all the tweets(as many as allowed by Twitter API) done by midas@IIITD twitter handle and dump the responses into JSONlines file

### Getting information about the user:

In [8]:
item = api.get_user(screen_name='midasIIITD')
print("name: " + item.name)
print("screen_name: " + item.screen_name)
print("description: " + item.description)
print("statuses_count: " + str(item.statuses_count))
print("friends_count: " + str(item.friends_count))
print("followers_count: " + str(item.followers_count))

name: MIDAS IIITD
screen_name: midasIIITD
description: MIDAS is a group of researchers at IIIT-Delhi who study, analyze, and build different multimedia systems for society leveraging multimodal information.
statuses_count: 341
friends_count: 43
followers_count: 284

### Making a dictionary of tweets

     - used Cursor to parse through the tweets on the user timeline
     - tweet_mode was kept "extended" to get the full length of the tweet and not just first 140 characters
     - entities was kept "extended" to get id's of all media files present and not just the first
     - used a dictionary as we have to save in the jsonlines format so it would be easier, also search time is faster in dictionaries

In [9]:
tweets = {}
# text = []
tweet_count = 0
#iterating on the timeline of user "midasIIITD and adding all the tweets to the dictionary"
for status in tqdm(Cursor(api.user_timeline, screen_name='midasIIITD',tweet_mode="extended",entities = "extended").items()):
    tweet_count += 1
    tweets[tweet_count] = status._json
#     text.append(status.full_text)

#     if tweet_count==100:
#         break

341it [00:14, 23.56it/s]

### Checking the dictionary formed

In [10]:
tweets[1].keys()
for key,matter in tweets[1].items():
    print(key,matter)

created_at Tue Apr 09 05:04:27 +0000 2019
id 1115480571323371520
id_str 1115480571323371520
full_text RT @Harvard: Professor Jelani Nelson founded AddisCoder, a program that teaches students in Ethiopia how to code https://t.co/0sM06p4qxw
truncated False
display_text_range [0, 136]
entities {'hashtags': [], 'symbols': [], 'user_mentions': [{'screen_name': 'Harvard', 'name': 'Harvard University', 'id': 39585367, 'id_str': '39585367', 'indices': [3, 11]}], 'urls': [{'url': 'https://t.co/0sM06p4qxw', 'expanded_url': 'https://hrvd.me/nelson4101t', 'display_url': 'hrvd.me/nelson4101t', 'indices': [113, 136]}]}
source <a href="http://twitter.com" rel="nofollow">Twitter Web Client</a>
in_reply_to_status_id None
in_reply_to_status_id_str None
in_reply_to_user_id None
in_reply_to_user_id_str None
in_reply_to_screen_name None
user {'id': 1021355762575073281, 'id_str': '1021355762575073281', 'name': 'MIDAS IIITD', 'screen_name': 'midasIIITD', 'location': 'New Delhi, India', 'description': 'MIDAS is a group of researchers at IIIT-Delhi who study, analyze, and build different multimedia systems for society leveraging multimodal information.', 'url': 'https://t.co/Uwg7oSM6mE', 'entities': {'url': {'urls': [{'url': 'https://t.co/Uwg7oSM6mE', 'expanded_url': 'http://midas.iiitd.edu.in/', 'display_url': 'midas.iiitd.edu.in', 'indices': [0, 23]}]}, 'description': {'urls': []}}, 'protected': False, 'followers_count': 284, 'friends_count': 43, 'listed_count': 0, 'created_at': 'Mon Jul 23 11:26:04 +0000 2018', 'favourites_count': 142, 'utc_offset': None, 'time_zone': None, 'geo_enabled': False, 'verified': False, 'statuses_count': 341, 'lang': 'en', 'contributors_enabled': False, 'is_translator': False, 'is_translation_enabled': False, 'profile_background_color': 'F5F8FA', 'profile_background_image_url': None, 'profile_background_image_url_https': None, 'profile_background_tile': False, 'profile_image_url': 'http://pbs.twimg.com/profile_images/1021356444921212928/WmSTJCUs_normal.jpg', 'profile_image_url_https': 'https://pbs.twimg.com/profile_images/1021356444921212928/WmSTJCUs_normal.jpg', 'profile_banner_url': 'https://pbs.twimg.com/profile_banners/1021355762575073281/1554320878', 'profile_link_color': '1DA1F2', 'profile_sidebar_border_color': 'C0DEED', 'profile_sidebar_fill_color': 'DDEEF6', 'profile_text_color': '333333', 'profile_use_background_image': True, 'has_extended_profile': False, 'default_profile': True, 'default_profile_image': False, 'following': False, 'follow_request_sent': False, 'notifications': False, 'translator_type': 'none'}
geo None
coordinates None
place None
contributors None
retweeted_status {'created_at': 'Mon Apr 08 20:10:01 +0000 2019', 'id': 1115346075416764417, 'id_str': '1115346075416764417', 'full_text': 'Professor Jelani Nelson founded AddisCoder, a program that teaches students in Ethiopia how to code https://t.co/0sM06p4qxw', 'truncated': False, 'display_text_range': [0, 123], 'entities': {'hashtags': [], 'symbols': [], 'user_mentions': [], 'urls': [{'url': 'https://t.co/0sM06p4qxw', 'expanded_url': 'https://hrvd.me/nelson4101t', 'display_url': 'hrvd.me/nelson4101t', 'indices': [100, 123]}]}, 'source': '<a href="https://buffer.com" rel="nofollow">Buffer</a>', 'in_reply_to_status_id': None, 'in_reply_to_status_id_str': None, 'in_reply_to_user_id': None, 'in_reply_to_user_id_str': None, 'in_reply_to_screen_name': None, 'user': {'id': 39585367, 'id_str': '39585367', 'name': 'Harvard University', 'screen_name': 'Harvard', 'location': 'Cambridge, MA', 'description': 'Devoted to excellence in teaching, learning, and research, and to developing leaders who make a difference globally.', 'url': 'http://t.co/n5qU9llHb8', 'entities': {'url': {'urls': [{'url': 'http://t.co/n5qU9llHb8', 'expanded_url': 'http://www.harvard.edu', 'display_url': 'harvard.edu', 'indices': [0, 22]}]}, 'description': {'urls': []}}, 'protected': False, 'followers_count': 938256, 'friends_count': 767, 'listed_count': 9228, 'created_at': 'Tue May 12 20:18:09 +0000 2009', 'favourites_count': 8476, 'utc_offset': None, 'time_zone': None, 'geo_enabled': True, 'verified': True, 'statuses_count': 40843, 'lang': 'en', 'contributors_enabled': False, 'is_translator': False, 'is_translation_enabled': False, 'profile_background_color': 'A41034', 'profile_background_image_url': 'http://abs.twimg.com/images/themes/theme14/bg.gif', 'profile_background_image_url_https': 'https://abs.twimg.com/images/themes/theme14/bg.gif', 'profile_background_tile': False, 'profile_image_url': 'http://pbs.twimg.com/profile_images/875797335342817282/JO5OsmxU_normal.jpg', 'profile_image_url_https': 'https://pbs.twimg.com/profile_images/875797335342817282/JO5OsmxU_normal.jpg', 'profile_banner_url': 'https://pbs.twimg.com/profile_banners/39585367/1553180690', 'profile_link_color': 'A51C30', 'profile_sidebar_border_color': '000000', 'profile_sidebar_fill_color': 'EFEFEF', 'profile_text_color': '333333', 'profile_use_background_image': False, 'has_extended_profile': False, 'default_profile': False, 'default_profile_image': False, 'following': False, 'follow_request_sent': False, 'notifications': False, 'translator_type': 'none'}, 'geo': None, 'coordinates': None, 'place': None, 'contributors': None, 'is_quote_status': False, 'retweet_count': 33, 'favorite_count': 82, 'favorited': False, 'retweeted': False, 'possibly_sensitive': False, 'lang': 'en'}
is_quote_status False
retweet_count 33
favorite_count 0
favorited False
retweeted False
possibly_sensitive False
lang en

### Here tweets is a dictionary of dictionaries
### Saving the tweets dictionary in .jsonl format
    -each tweet gets saved in a line

In [11]:
with jsonlines.open('output1.jsonl', mode='w') as writer:
    for k in tweets.keys():
        writer.write(tweets[k])
writer.close()

# Part 2: parse these JSONline files to display the following for every tweet in a tabular format

### Reading the .jsonl file using jsonlines library

In [12]:
tweet = []
with jsonlines.open('output1.jsonl') as reader:
    for obj in reader:
        tweet.append(obj)
reader.close()

In [13]:
len(tweet)

341

### Creating a pandas table

In [14]:
table = pd.DataFrame(columns = ['Text','Date', 'Time','Favorites Count','Retweet Count','Number of Images'])

### Checking the format of date-time column

In [15]:
tweet[1]["created_at"]

'Tue Apr 09 05:04:11 +0000 2019'

### For loop to convert the dictionary into pandas table

In [16]:
for ix in range(len(tweet)):
#     print(type(i))
    i = tweet[ix]
    no_of_images = None                               #inintialising with none
    if "extended_entities" in i:                      #calculating the number of images in the tweet
        no_of_images = 0
        for x in i['extended_entities']['media']:
            if x['type']=='photo':                    #increment the variable if media type is a photo
                no_of_images+=1
                
                
    date_time = i['created_at'].split()                      #splitting the data-time column
    date = date_time[1]+" "+date_time[2]+" "+ date_time[-1]  #date column
    time = date_time[3]+date_time[4]                         #time column
    
    
    table.loc[ix] = [i["full_text"],date,time,i['favorite_count'],i['retweet_count'],no_of_images]   #adding the rows

### Printing the table

In [17]:
table

,Text,Date,Time,Favorites Count,Retweet Count,Number of Images
0,RT @Harvard: Professor Jelani Nelson founded A...,Apr 09 2019,05:04:27+0000,0,33,None
1,RT @emnlp2019: For anyone interested in submit...,Apr 09 2019,05:04:11+0000,0,11,None
2,RT @multimediaeval: Announcing the 2019 MediaE...,Apr 08 2019,19:38:09+0000,0,15,None
3,"Many Congratulations to @midasIIITD student, S...",Apr 08 2019,07:08:12+0000,13,2,1
4,@midasIIITD thanks all students who have appea...,Apr 08 2019,03:27:42+0000,5,0,1
5,"@himanchalchandr Meanwhile, complete CV/NLP ta...",Apr 07 2019,14:17:29+0000,0,0,None
6,@sayangdipto123 Submit as per the guideline ag...,Apr 07 2019,14:17:09+0000,0,0,None
7,We request all students whose interview are sc...,Apr 07 2019,11:43:24+0000,1,1,None
8,"Other queries: ""none of the Tweeter Apis give ...",Apr 07 2019,06:55:19+0000,5,2,None
9,"Other queries: ""do we have to make two differe...",Apr 07 2019,06:53:38+0000,4,1,None
10,"Other queries: ""If using Twitter api, it does ...",Apr 07 2019,05:32:27+0000,6,1,None
11,Response to some queries asked by students on ...,Apr 07 2019,05:29:40+0000,7,1,None
12,RT @kdnuggets: Top 8 #Free Must-Read #Books on...,Apr 06 2019,17:11:29+0000,0,2,None
13,@nupur_baghel @PennDATS Congratulation @nupur_...,Apr 06 2019,16:43:27+0000,18,3,1
14,We have emailed the task details to all candid...,Apr 05 2019,16:08:37+0000,11,1,None
15,RT @rfpvjr: Our NAACL paper on polarization in...,Apr 05 2019,04:05:11+0000,0,16,None
16,RT @kdnuggets: Effective Transfer Learning For...,Apr 05 2019,04:04:43+0000,0,11,1
17,RT @stanfordnlp: What’s new in @Stanford CS224...,Apr 03 2019,18:31:53+0000,0,59,None
18,RT @DeepMindAI: Today we're releasing a large-...,Apr 03 2019,17:04:32+0000,0,870,None
19,RT @ylecun: Congratulations Jitendra Malik !\n...,Apr 03 2019,09:03:40+0000,0,16,None
20,RT @IIITDelhi: Another chance to take admissio...,Apr 03 2019,07:46:02+0000,0,4,None
21,Dear @midasIIITD internship candidates who hav...,Apr 02 2019,04:20:13+0000,8,1,None
22,Looking forward to your paper submission to @I...,Apr 02 2019,02:44:54+0000,5,1,None
23,RT @ngrams: Reproducibility in multimedia rese...,Apr 02 2019,02:35:44+0000,0,7,None
24,Online application for https://t.co/DJFDrQsHZP...,Apr 01 2019,06:53:08+0000,7,2,None
25,RT @ACMMM19: A final reminder of the Reproduci...,Mar 31 2019,10:21:24+0000,0,10,None
26,RT @isarth23: Thanks for the support and help ...,Mar 29 2019,19:43:24+0000,0,2,None
27,"Since SemEval-2019 will be held June 6-7, 2019...",Mar 29 2019,17:16:40+0000,9,1,None
28,+@aggarwal_kartik.\nCongrats! Wish you many mo...,Mar 29 2019,17:04:30+0000,2,0,None
29,RT @aggarwal_kartik: Our work (@midasIIITD ) a...,Mar 29 2019,17:03:29+0000,0,1,None
...,...,...,...,...,...,...
311,RT @TensorFlow: TensorFlow 1.10.0 has been rel...,Aug 09 2018,05:59:57+0000,0,265,None
312,@midasIIITD is looking for motivated IIITD MTe...,Aug 08 2018,11:30:56+0000,2,1,None
313,@IIITDelhi @ponguru @RatnRajiv The results of ...,Aug 08 2018,05:53:48+0000,3,1,1
314,RT @IIITDelhi: @midasIIITD has secured rank 1 ...,Aug 08 2018,05:45:58+0000,0,1,None
315,RT @kdnuggets: Comparison of Top 6 Python NLP ...,Aug 07 2018,07:16:33+0000,0,40,1
316,Check more details of the 20th IEEE Internatio...,Aug 07 2018,02:05:12+0000,1,1,None
317,MR2AMC@ISM 2018 will be organized by @RatnRaji...,Aug 07 2018,01:58:49+0000,1,1,None
318,"Our workshop proposal named, ""MR2AMC: Multimod...",Aug 07 2018,01:50:33+0000,1,1,None
319,@NUSComputing Congratulations Abdelhak and Pro...,Aug 06 2018,17:48:23+0000,0,0,None
320,RT @goodfellow_ian: One of the most anticipate...,Aug 06 2018,17:46:59+0000,0,103,1
321,@the_dhumketu Great to have you in @midasIIITD,Aug 06 2018,06:06:47+0000,0,0,None
322,Congratulation @soujanyaporia for being appoin...,Aug 03 2018,05:56:33+0000,6,1,None
323,@IIITDelhi @the_dhumketu Thanks team @midasIII...,Aug 01 2018,11:47:15+0000,5,1,1
324,RT @IIITDelhi: Congratulations @midasIIITD int...,Aug 01 2018,11:20:07+0000,0,4,None
325,RT @learning_pt: Profile of the 5 Indian under...,Aug 01 2018,05:06:47+0000,0,4,None
326,Have a look at the list of accepted papers in ...,Jul 31 2018,12:11:52+0000,1,0,None
327,RT @goodfellow_ian: https://t.co/hYiWI7ntyk Te...,Jul 31 2018,02:06:26+0000,0,264,None
328,RT @IIITDelhi: Congratulations Dr. @RatnRajiv ...,Jul 30 2018,07:30:51+0000,0,2,None
329,"RT @ylecun: Jitendra Malik, who directs FAIR-M...",Jul 28 2018,11:07:11+0000,0,57,None
330,RT @kdnuggets: .@Bloomberg launches free cours...,Jul 28 2018,06:14:09+0000,0,105,None
331,RT @TechAtBloomberg: Missed #PyLondinium18? Wa...,Jul 28 2018,06:13:48+0000,0,7,None
332,RT @IIITDelhi: We are delighted to announce th...,Jul 28 2018,04:08:21+0000,0,6,None
333,Get ready for the annual technical fest of @II...,Jul 27 2018,06:46:44+0000,3,2,None
334,Congratulations Dr. @RatnRajiv and team @midas...,Jul 27 2018,04:07:31+0000,8,2,None
335,Congratulations MIDAS @midasIIITD intern Prakh...,Jul 25 2018,05:14:35+0000,5,1,None
336,MIDAS@IIITD foundation. https://t.co/LKuzyBHzjm,Jul 24 2018,10:33:23+0000,2,1,None
337,It feels great to be the part of @IIITDelhi. h...,Jul 24 2018,10:12:34+0000,2,1,None
338,"Thank you, @toonzratn for designing the logo o...",Jul 24 2018,09:46:26+0000,4,1,1
339,We are on Facebook too. Like our page to get o...,Jul 23 2018,16:25:05+0000,3,1,None
340,MIDAS is a group of researchers at IIIT-Delhi ...,Jul 23 2018,12:53:15+0000,7,4,None